.container {
  border-radius: 12px;
  padding: 20px;
  width: 80%;
  margin: 5% auto;
  box-shadow: 4px 4px 12px -3px rgba(0, 0, 0, 0.79);
  -webkit-box-shadow: 4px 4px 12px -3px rgba(0, 0, 0, 0.79);
  -moz-box-shadow: 4px 4px 12px -3px rgba(0, 0, 0, 0.79);
}

.card_search {
  border: 1px solid #f29305;
  background-color: bisque;
  display: flex;
  margin: 2.5rem 0 2.5rem 0;
  padding: 0 1.5rem 0 1.5rem;
}

.card_search label {
  display: inline-block;
  margin: 1.5rem 0 0.5rem 0;
  font-weight: bold;
}

.card_search input {
  display: block;
}

.btn {
  display: inline-block;
  padding: 10px;
  font-size: 16px;
  width: max-content;
  margin: 1.5rem 0 1.5rem 0.75rem;
  background-color: rgb(76, 136, 247);
  color: white;
  border-radius: 10px;
  cursor: pointer;
  text-decoration: none;
  border: none;
}

.btn:hover {
  background-color: rgb(32, 104, 239);
}

.form_table {
  font-family: sans-serif;
  font-size: x-small;
  color: #232323;
  border-collapse: collapse;
  width: 100%;
}

.form_table th {
  text-transform: capitalize;
  background-color: cornflowerblue;
}

.form_table th,
td {
  border: 1px solid #000;
  padding: 8px 20px;
}

.container_form {
  border-radius: 12px;
  padding: 20px;
  width: 80%;
  margin: 5% auto;
  border: 1px solid black;
  justify-items: center;
}

.form_data {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 1.25rem;
}

.form_data label {
  display: inline-block;
  margin: 1.5rem 0 0.5rem 0;
}

.form_data input {
  display: block;
  width: 65%;
}

.form_data textarea {
  display: block;
  width: 65%;
}

.btn_detail {
  background-color: #f29305;
  text-decoration: none;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  margin: 0 2px 0 2px;
  width: 50px;
}

.btn_detail:hover {
  background-color: #f6d5a3;
}

.btn_edit {
  background-color: #3e96f4;
  text-decoration: none;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  margin: 0 2px 0 2px;
  width: 50px;
}

.btn_edit:hover {
  background-color: #a1c6ee;
}

.btn_delete {
  background-color: #d82424;
  text-decoration: none;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  margin: 0 2px 0 2px;
  width: 50px;
}

.btn_delete:hover {
  background-color: #ec9595;
}